# Finance Data Pre-processing

1. import data by yfinance
2. calculate the SMA
3. export data to csv by pandas

## 1. import data by yfinance

In [1]:
import yfinance as yf

In [2]:
nvda = yf.Ticker("NVDA")
print(nvda)
"""
returns
<yfinance.Ticker object at 0x1a1715e898>
"""

yfinance.Ticker object <NVDA>

'\nreturns\n<yfinance.Ticker object at 0x1a1715e898>\n'

In [3]:
# get stock info
nvda.info

{'zip': '95051',
 'sector': 'Technology',
 'fullTimeEmployees': 13775,
 'longBusinessSummary': "NVIDIA Corporation operates as a visual computing company worldwide. It operates in two segments, GPU and Tegra Processor. The GPU segment offers processors, which include GeForce for PC gaming and mainstream PCs; GeForce NOW for cloud-based gaming; Quadro for design professionals working in computer-aided design, video editing, special effects, and other creative applications; Tesla for artificial intelligence (AI) utilizing deep learning, accelerated computing, and general purpose computing; GRID, which provides power of NVIDIA graphics through the cloud and datacenters; DGX for AI scientists, researchers, and developers; and EGX for accelerated AI computing at the edge. The Tegra Processor segment provides processors comprising SHIELD devices and services designed to harness the power of mobile-cloud to revolutionize home entertainment, AI, and gaming; AGX, a power-efficient AI computing platform for intelligent edge devices; DRIVE AGX for self-driving vehicles; Clara AGX for medical instruments; and Jetson AGX for robotics and other embedded use. The company's products are used in gaming, professional visualization, datacenter, and automotive markets. NVIDIA Corporation sells its products to original equipment manufacturers, original device manufacturers, system builders, add-in board manufacturers, retailers/distributors, Internet and cloud service providers, automotive manufacturers and tier-1 automotive suppliers, mapping companies, start-ups, and other ecosystem participants. NVIDIA Corporation was founded in 1993 and is headquartered in Santa Clara, California.",
 'city': 'Santa Clara',
 'phone': '408 486 2000',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.nvidia.com',
 'maxAge': 1,
 'address1': '2788 San Tomas Expressway',
 'industry': 'Semiconductors',
 'previousClose': 339.48,
 'regularMarketOpen': 342.18,
 'twoHundredDayAverage': 259.02548,
 'trailingAnnualDividendYield': 0.0018852361,
 'payoutRatio': 0.11960000000000001,
 'volume24Hr': None,
 'regularMarketDayHigh': 355.02,
 'navPrice': None,
 'averageDailyVolume10Day': 20764971,
 'totalAssets': None,
 'regularMarketPreviousClose': 339.48,
 'fiftyDayAverage': 310.71176,
 'trailingAnnualDividendRate': 0.64,
 'open': 342.18,
 'toCurrency': None,
 'averageVolume10days': 20764971,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.64,
 'exDividendDate': 1591228800,
 'beta': 1.330135,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 339.4145,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 78.54424,
 'regularMarketVolume': 18647994,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 218337296384,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 15716325,
 'priceToSalesTrailing12Months': 19.997921,
 'dayLow': 339.4145,
 'ask': 354.5,
 'ytdReturn': None,
 'askSize': 2900,
 'volume': 18647994,
 'fiftyTwoWeekHigh': 367.27,
 'forwardPE': 38.884995,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 0.6000000000000001,
 'fiftyTwoWeekLow': 132.6,
 'bid': 354.06,
 'tradeable': False,
 'dividendYield': 0.0019,
 'bidSize': 900,
 'dayHigh': 355.02,
 'exchange': 'NMS',
 'shortName': 'NVIDIA Corporation',
 'longName': 'NVIDIA Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'NVDA',
 'messageBoardId': 'finmb_32307',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 16.761,
 'beta3Year': None,
 'profitMargins': 0.25609000000000004,
 'enterpriseToEbitda': 56.708,
 '52WeekChange': 1.6537600000000001,
 'morningStarRiskRating': None,
 'forwardEps': 9.13,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 615000000,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 19.925,
 'sharesShort': 10030334,
 'sharesPercentSharesOut': 0.016300000000000002,
 'fundFamily': None,
 'lastFiscalYearEnd': 1579996800,
 'heldPercentInstitutions': 0.69228,
 'netIncomeToCommon': 2796000000,
 'trailingEps': 4.52,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.10926056,
 'priceToBook': 17.817818,
 'heldPercentInsiders': 0.041510000000000005,
 'nextFiscalYearEnd': 1643155200,
 'mostRecentQuarter': 1579996800,
 'shortRatio': 0.84,
 'sharesShortPreviousMonthDate': 1586908800,
 'floatShares': 586271520,
 'enterpriseValue': 182995992576,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1189468800,
 'lastSplitFactor': '3:2',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.68,
 'dateShortInterest': 1589500800,
 'pegRatio': 2.7199999999999998,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.017,
 'sharesShortPriorMonth': 11993211,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 342.18,
 'logo_url': 'https://logo.clearbit.com/nvidia.com'}

In [4]:
# get historical market data (all)
nvda_history = nvda.history(period="max")
nvda_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-01-22,1.61,1.80,1.43,1.51,67867200.0,0.0,0.0
1999-01-25,1.63,1.69,1.51,1.67,12762000.0,0.0,0.0
1999-01-26,1.69,1.72,1.51,1.54,8580000.0,0.0,0.0
1999-01-27,1.54,1.58,1.46,1.53,6109200.0,0.0,0.0
1999-01-28,1.53,1.54,1.52,1.53,5688000.0,0.0,0.0
1999-01-29,1.53,1.53,1.46,1.46,6100800.0,0.0,0.0
1999-02-01,1.46,1.50,1.46,1.49,3867600.0,0.0,0.0
1999-02-02,1.46,1.50,1.33,1.37,6602400.0,0.0,0.0
1999-02-03,1.35,1.42,1.34,1.40,1878000.0,0.0,0.0
1999-02-04,1.42,1.51,1.40,1.48,4548000.0,0.0,0.0
1999-02-05,1.50,1.53,1.46,1.52,3421200.0,0.0,0.0
1999-02-08,1.53,1.53,1.47,1.47,3852000.0,0.0,0.0
1999-02-09,1.50,1.51,1.39,1.41,2174400.0,0.0,0.0
1999-02-10,1.41,1.45,1.37,1.39,3705600.0,0.0,0.0
1999-02-11,1.40,1.57,1.40,1.51,3306000.0,0.0,0.0
1999-02-12,1.53,1.61,1.53,1.60,2743200.0,0.0,0.0
1999-02-16,1.63,1.70,1.45,1.61,5275200.0,0.0,0.0
1999-02-17,1.57,1.59,1.50,1.52,1693200.0,0.0,0.0
1999-02-18,1.57,1.59,1.51,1.55,1767600.0,0.0,0.0
1999-02-19,1.53,1.63,1.51,1.60,1884000.0,0.0,0.0
1999-02-22,1.63,1.65,1.52,1.61,5131200.0,0.0,0.0
1999-02-23,1.65,1.72,1.55,1.69,3452400.0,0.0,0.0
1999-02-24,1.94,2.01,1.78,1.82,15319200.0,0.0,0.0
1999-02-25,1.90,1.96,1.74,1.76,3728400.0,0.0,0.0
1999-02-26,1.78,1.84,1.67,1.68,4315200.0,0.0,0.0
1999-03-01,1.73,1.76,1.61,1.69,2304000.0,0.0,0.0
1999-03-02,1.69,1.70,1.65,1.68,1381200.0,0.0,0.0
1999-03-03,1.69,1.69,1.55,1.56,1534800.0,0.0,0.0
1999-03-04,1.64,1.65,1.51,1.53,1434000.0,0.0,0.0
1999-03-05,1.54,1.62,1.54,1.62,1969200.0,0.0,0.0
...,...,...,...,...,...,...,...
2020-04-17,298.00,298.86,286.94,292.32,13478000.0,0.0,0.0
2020-04-20,287.24,293.50,285.27,287.05,11234700.0,0.0,0.0
2020-04-21,282.31,284.77,267.11,269.51,18379000.0,0.0,0.0
2020-04-22,277.23,287.87,275.40,286.15,12118200.0,0.0,0.0
2020-04-23,287.84,293.14,283.00,284.01,10604000.0,0.0,0.0
2020-04-24,283.60,289.67,280.60,289.59,8816100.0,0.0,0.0
2020-04-27,294.99,303.50,294.00,297.08,11984700.0,0.0,0.0
2020-04-28,303.00,304.20,291.14,291.36,11072600.0,0.0,0.0
2020-04-29,296.77,300.58,293.75,298.46,9479000.0,0.0,0.0
2020-04-30,296.29,298.46,291.72,292.28,9372900.0,0.0,0.0
2020-05-01,284.35,288.90,280.84,282.78,8552400.0,0.0,0.0
2020-05-04,280.88,291.84,280.88,291.29,7938900.0,0.0,0.0
2020-05-05,295.47,300.27,291.29,293.74,9222400.0,0.0,0.0
2020-05-06,296.93,302.00,295.41,297.79,8086600.0,0.0,0.0
2020-05-07,303.38,307.41,301.32,304.87,9343300.0,0.0,0.0
2020-05-08,307.75,312.75,306.39,312.50,8497700.0,0.0,0.0
2020-05-11,312.30,324.50,311.15,322.62,11705900.0,0.0,0.0
2020-05-12,324.94,326.90,311.71,312.10,12326500.0,0.0,0.0
2020-05-13,316.70,323.14,303.79,311.20,15646300.0,0.0,0.0
2020-05-14,313.67,321.44,307.50,321.22,15057800.0,0.0,0.0
2020-05-15,315.59,340.02,314.96,339.63,24691500.0,0.0,0.0
2020-05-18,350.42,356.66,347.22,350.01,19410100.0,0.0,0.0
2020-05-19,351.61,363.50,350.51,352.22,17933000.0,0.0,0.0
2020-05-20,359.64,361.72,355.55,358.80,14688400.0,0.0,0.0
2020-05-21,362.06,362.10,349.50,351.01,19026700.0,0.0,0.0
2020-05-22,353.01,363.72,348.53,361.05,25969100.0,0.0,0.0
2020-05-26,366.27,367.27,346.88,348.71,19269500.0,0.0,0.0
2020-05-27,345.00,345.31,319.87,341.01,29397300.0,0.0,0.0
2020-05-28,336.49,350.42,335.17,339.48,18372400.0,0.0,0.0
2020-05-29,342.18,355.02,339.40,355.02,18631400.0,0.0,0.0

In [5]:
# get historical market data (from 2020-01-01 to now)
# today = 
nvda_history = nvda.history(start='2020-01-01',end='2020-05-05')
nvda_history

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2019-12-31  230.76  235.54  229.99  235.16   5775100        0.0             0
2020-01-02  238.61  239.77  236.58  239.77   5938400        0.0             0
2020-01-03  234.96  237.69  233.96  235.93   5134600        0.0             0
2020-01-06  232.18  237.13  231.13  236.92   6565900        0.0             0
2020-01-07  238.06  241.63  236.25  239.79   7871400        0.0             0
2020-01-08  239.62  241.90  238.01  240.24   6927700        0.0             0
2020-01-09  243.70  245.78  240.72  242.87   6377800        0.0             0
2020-01-10  247.18  248.40  243.60  244.17   7907400        0.0             0
2020-01-13  247.51  252.84  246.60  251.83   7996000        0.0             0
2020-01-14  250.11  251.13  246.60  247.13   8977200        0.0             0
2020-01-15  247.64  248.54  244.38  245.42   6577600        0.0             0
2020-01-16  247.57  249.02  246.63  248.78   7104800        0.0             0
2020-01-17  249.55  249.85  247.22  249.13   6344800        0.0             0
2020-01-21  247.66  249.14  246.42  247.79   5447900        0.0             0
2020-01-22  249.61  253.44  248.85  249.96   5981000        0.0             0
2020-01-23  251.57  253.05  248.00  252.71   6112900        0.0             0
2020-01-24  257.35  259.34  248.15  250.33   9337800        0.0             0
2020-01-27  238.10  242.11  232.09  240.06  11763400        0.0             0
2020-01-28  242.70  249.12  240.57  247.82   7774400        0.0             0
2020-01-29  247.24  248.69  243.79  245.39   6471200        0.0             0
2020-01-30  241.47  246.20  239.26  245.66   7262600        0.0             0
2020-01-31  243.82  244.30  234.61  236.29   9260500        0.0             0
2020-02-03  235.56  240.97  235.31  240.19   6398200        0.0             0
2020-02-04  245.88  247.75  243.87  246.98   6788600        0.0             0
2020-02-05  251.84  252.25  247.26  250.61   5205500        0.0             0
2020-02-06  251.99  254.10  248.73  254.10   5457100        0.0             0
2020-02-07  252.49  253.38  250.42  251.44   4743800        0.0             0
2020-02-10  252.35  262.84  252.15  262.81  13240200        0.0             0
2020-02-11  267.16  272.34  264.67  267.73  15963900        0.0             0
2020-02-12  269.85  272.64  268.29  272.38   9366100        0.0             0
...            ...     ...     ...     ...       ...        ...           ...
2020-03-23  205.71  216.48  198.52  212.69  16096900        0.0             0
2020-03-24  229.00  252.66  228.05  249.18  27541100        0.0             0
2020-03-25  253.80  261.82  243.66  245.62  19835800        0.0             0
2020-03-26  253.94  262.22  250.00  257.24  17402700        0.0             0
2020-03-27  250.00  263.12  248.68  252.73  15970700        0.0             0
2020-03-30  255.36  265.96  253.59  265.59  15056300        0.0             0
2020-03-31  267.20  275.40  257.75  263.60  23749000        0.0             0
2020-04-01  255.65  261.53  241.28  243.07  16422800        0.0             0
2020-04-02  244.24  256.00  242.31  255.47  16894100        0.0             0
2020-04-03  253.96  255.63  238.39  243.91  16580300        0.0             0
2020-04-06  255.24  269.88  252.93  268.40  18197100        0.0             0
2020-04-07  277.30  278.25  257.30  259.03  19613000        0.0             0
2020-04-08  263.41  267.95  260.60  266.95  13561100        0.0             0
2020-04-09  272.00  272.92  260.42  262.95  13156200        0.0             0
2020-04-13  260.55  270.20  257.00  269.85   9960200        0.0             0
2020-04-14  275.00  285.32  273.89  283.95  13273700        0.0             0
2020-04-15  277.20  284.17  275.38  280.84   9153700        0.0             0
2020-04-16  287.08  299.00  286.55  294.70  18640500        0.0             0
2020-04-17  298.00  298.86  286.94  292.32  13478000        0.0             0
2020-04-20  287.24  293.50  285.27  287.05  11234700        0.0             0
2020-04-21  282.31  284.77  267.11  269.51  18379000        0.0             0
2020-04-22  277.23  287.87  275.40  286.15  12118200        0.0             0
2020-04-23  287.84  293.14  283.00  284.01  10604000        0.0             0
2020-04-24  283.60  289.67  280.60  289.59   8816100        0.0             0
2020-04-27  294.99  303.50  294.00  297.08  11984700        0.0             0
2020-04-28  303.00  304.20  291.14  291.36  11072600        0.0             0
2020-04-29  296.77  300.58  293.75  298.46   9479000        0.0             0
2020-04-30  296.29  298.46  291.72  292.28   9372900        0.0             0
2020-05-01  284.35  288.90  280.84  282.78   8552400        0.0             0
2020-05-04  280.88  291.84  280.88  291.29   7938900        0.0             0

[86 rows x 7 columns]

In [6]:
# get 1 day, 1 hour interval
nvda_history = nvda.history(period="1d", interval="1h")
nvda_history

              Open    High     Low   Close   Volume  Dividends  Stock Splits
Date
2020-05-29  342.18  346.99  339.40  342.64  3847091          0             0
2020-05-29  342.73  344.93  341.56  344.00  2011690          0             0
2020-05-29  343.92  345.55  342.41  343.50  1177897          0             0
2020-05-29  343.49  345.99  342.00  345.24  1183965          0             0
2020-05-29  345.26  346.54  342.86  346.42  1374734          0             0
2020-05-29  346.43  350.23  340.60  349.58  3649844          0             0
2020-05-29  349.57  354.65  349.00  354.63  2531334          0             0

In [7]:
# get 1 day
nvda_history = nvda.history(period="5d")
nvda_history

data = nvda_history
data

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-05-22  353.01  363.72  348.53  361.05  25969100          0             0
2020-05-26  366.27  367.27  346.88  348.71  19269500          0             0
2020-05-27  345.00  345.31  319.87  341.01  29397300          0             0
2020-05-28  336.49  350.42  335.17  339.48  18372400          0             0
2020-05-29  342.18  355.02  339.40  355.02  18631400          0             0

In [8]:
data

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-05-22  353.01  363.72  348.53  361.05  25969100          0             0
2020-05-26  366.27  367.27  346.88  348.71  19269500          0             0
2020-05-27  345.00  345.31  319.87  341.01  29397300          0             0
2020-05-28  336.49  350.42  335.17  339.48  18372400          0             0
2020-05-29  342.18  355.02  339.40  355.02  18631400          0             0

In [9]:
# reset DataFrame index to RangeIndex
data1 = data.reset_index()
data1

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2020-05-22,353.01,363.72,348.53,361.05,25969100,0,0
1,2020-05-26,366.27,367.27,346.88,348.71,19269500,0,0
2,2020-05-27,345.00,345.31,319.87,341.01,29397300,0,0
3,2020-05-28,336.49,350.42,335.17,339.48,18372400,0,0
4,2020-05-29,342.18,355.02,339.40,355.02,18631400,0,0

In [10]:
# data1 = data.reset_index()

date = '2020-05-03'
end_date = data1[data1['Date']<=date].tolist()[0] if data1[data1['Date']<=date].any() else None
# end_date = data1.index[data1['Date']<=date].tolist()[0] if data1.index[data1['Date']<=date].any() else None
print(f'end_date:{end_date}')
# data = data[:end_date]
# data

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
data1[data1['Date']<=date]

In [ ]:
data1['Close'].iat[-1]

In [ ]:
data1

In [12]:
for i in nvda_history.index:
    ma3 = f'xxx:{i}'
    nvda_history.at[i, 'ma3xx'] = ma3

In [13]:
type(nvda_history)

pandas.core.frame.DataFrame

In [14]:
nvda_history.shape

(5, 8)

## 2. export data to csv

In [ ]:
csv_export_filename = 'nvda.csv'
nvda_history.to_csv(csv_export_filename, header=True)

In [ ]:
stock_ids = ['NVDA']
period = '1y'; start = '2020-04-27'; end='2020-04-28'; group_by='ticker'
data = yf.download(stock_ids, end=end, group_by=group_by)
data

In [ ]:
type(data)

In [ ]:
csv_export_filename = 'nvda.1.csv'
data.to_csv(csv_export_filename, header=True)

## 3. Mass download data

In [23]:
# stocks = "NVDA TSLA UGLD"
stocks = ['NVDA','TSLA','UGLD']
period = '5y' # max, 1y, 5y
data = yf.download(stocks, period=period, group_by="ticker")
print(type(data))
print(data.shape)

[*********************100%***********************]  3 of 3 completed
<class 'pandas.core.frame.DataFrame'>
(1259, 18)

In [21]:
data = yf.download(stocks, period="1y", start='', end='', group_by="ticker")
print(type(data))
print(data.shape)

[*********************100%***********************]  3 of 3 completed
<class 'pandas.core.frame.DataFrame'>
(253, 18)

In [35]:
data

                  UGLD                                                  \
                  Open        High         Low       Close   Adj Close
Date
2015-06-01  112.199997  113.599998  109.300003  109.500000  109.500000
2015-06-02  110.300003  110.900002  110.000000  110.599998  110.599998
2015-06-03  109.800003  110.099998  106.400002  108.300003  108.300003
2015-06-04  106.199997  106.400002  104.800003  105.900002  105.900002
2015-06-05  102.500000  104.500000  102.300003  104.099998  104.099998
2015-06-08  104.699997  105.199997  104.000000  105.199997  105.199997
2015-06-09  106.699997  107.000000  105.300003  106.000000  106.000000
2015-06-10  109.400002  109.400002  108.199997  108.300003  108.300003
2015-06-11  106.599998  107.199997  105.800003  106.800003  106.800003
2015-06-12  106.300003  107.400002  106.099998  106.800003  106.800003
2015-06-15  106.699997  109.400002  106.699997  108.300003  108.300003
2015-06-16  106.500000  107.199997  105.500000  107.199997  107.199997
2015-06-17  106.300003  109.000000  105.199997  108.599998  108.599998
2015-06-18  112.400002  113.500000  111.599998  112.500000  112.500000
2015-06-19  112.699997  113.099998  111.599998  112.099998  112.099998
2015-06-22  108.500000  108.599998  107.000000  108.000000  108.000000
2015-06-23  106.000000  106.400002  105.400002  105.599998  105.599998
2015-06-24  104.599998  105.199997  104.000000  104.900002  104.900002
2015-06-25  104.300003  104.900002  104.000000  104.599998  104.599998
2015-06-26  103.599998  105.099998  103.500000  104.599998  104.599998
2015-06-29  105.199997  106.599998  104.699997  106.199997  106.199997
2015-06-30  103.800003  105.800003  102.699997  104.300003  104.300003
2015-07-01  103.199997  103.800003  102.900002  103.199997  103.199997
2015-07-02  102.300003  102.500000  101.500000  102.500000  102.500000
2015-07-06  101.699997  104.599998  101.699997  102.599998  102.599998
2015-07-07  100.599998  100.599998   97.800003   99.500000   99.500000
2015-07-08  101.099998  101.800003  100.300003  100.599998  100.599998
2015-07-09  102.199997  102.599998  100.599998  100.900002  100.900002
2015-07-10  100.699997  102.900002  100.199997  101.599998  101.599998
2015-07-13   98.500000  100.400002   98.500000  100.400002  100.400002
...                ...         ...         ...         ...         ...
2020-04-17  186.509995  186.789993  177.470001  178.990005  178.990005
2020-04-20  180.929993  186.039993  179.600006  184.000000  184.000000
2020-04-21  174.000000  182.380005  172.600006  180.410004  180.410004
2020-04-22  190.520004  193.479996  188.289993  191.830002  191.830002
2020-04-23  194.589996  200.500000  193.009995  196.940002  196.940002
2020-04-24  197.679993  198.500000  188.149994  193.529999  193.529999
2020-04-27  191.429993  191.809998  185.619995  188.550003  188.550003
2020-04-28  188.220001  188.220001  180.940002  185.979996  185.979996
2020-04-29  184.190002  190.750000  183.059998  190.750000  190.750000
2020-04-30  183.800003  186.399994  175.820007  177.639999  177.639999
2020-05-01  175.100006  183.960007  175.080002  181.880005  181.880005
2020-05-04  183.570007  185.429993  181.910004  183.330002  183.330002
2020-05-05  182.039993  185.449997  179.750000  184.660004  184.660004
2020-05-06  177.539993  180.089996  173.910004  177.110001  177.110001
2020-05-07  178.750000  189.679993  178.750000  187.690002  187.690002
2020-05-08  184.539993  188.960007  180.910004  182.279999  182.279999
2020-05-11  181.179993  182.940002  176.820007  178.830002  178.830002
2020-05-12  181.630005  184.000000  179.220001  180.500000  180.500000
2020-05-13  183.839996  186.250000  182.000000  186.250000  186.250000
2020-05-14  186.610001  193.669998  186.550003  191.979996  191.979996
2020-05-15  196.080002  198.500000  192.410004  196.500000  196.500000
2020-05-18  195.229996  196.169998  188.309998  189.580002  189.580002
2020-05-19  192.279999  195.520004  191.259995  194.729996  194.729996
2020-05-20  195.789993  197.419998  193.559998  196.000000  196.000000
2020-05-21  192.539993  192.610001  184.500000  187.389999  187.389999
2020-05-22  190.350006  192.770004  189.800003  191.779999  191.779999
2020-05-26  189.889999  189.889999  181.500000  183.000000  183.000000
2020-05-27  175.360001  183.690002  175.110001  183.419998  183.419998
2020-05-28  187.410004  188.429993  182.080002  184.919998  184.919998
2020-05-29  188.490005  191.869995  187.429993  188.869995  188.869995

                          TSLA                                      \
            Volume        Open        High         Low       Close
Date
2015-06-01    9400  251.410004  251.600006  247.470001  249.449997
2015-06-02    3800  248.919998  249.399994  246.300003  248.350006
2015-06-03    8900  248.199997  250.720001  247.009995  248.990005
2015-06-04   23400  247.500000  249.300003  245.710007  245.919998
2015-06-05   14300  246.000000  249.699997  245.679993  249.139999
2015-06-08    9500  250.850006  258.750000  250.309998  256.290009
2015-06-09    7700  255.399994  257.739990  254.139999  256.000000
2015-06-10   16200  251.899994  254.000000  248.500000  250.699997
2015-06-11   17300  253.259995  254.369995  250.429993  251.410004
2015-06-12    6200  250.210007  253.460007  250.210007  250.690002
2015-06-15    8600  249.699997  251.279999  246.009995  250.380005
2015-06-16    8100  250.130005  253.440002  249.100006  253.119995
2015-06-17    7700  252.169998  264.359985  252.020004  260.410004
2015-06-18   21500  262.000000  263.459991  260.019989  261.890015
2015-06-19    7400  262.399994  263.799988  260.100006  262.510010
2015-06-22   18600  262.149994  264.399994  255.690002  259.790009
2015-06-23   21600  260.320007  268.000000  258.570007  267.670013
2015-06-24   14200  266.980011  267.350006  263.720001  265.170013
2015-06-25   10000  266.450012  271.410004  265.250000  268.790009
2015-06-26   16400  268.890015  269.109985  266.000000  267.089996
2015-06-29   26700  261.950012  265.950012  260.700012  262.019989
2015-06-30   15600  264.799988  270.920013  264.000000  268.260010
2015-07-01   13100  271.109985  272.619995  267.850006  269.149994
2015-07-02   13600  280.200012  282.450012  273.309998  280.019989
2015-07-06   15000  278.880005  281.690002  276.299988  279.720001
2015-07-07   26100  275.000000  275.200012  260.769989  267.880005
2015-07-08   13500  259.320007  260.799988  254.309998  254.960007
2015-07-09    9900  259.079987  262.950012  256.790009  257.920013
2015-07-10   19400  262.220001  263.000000  257.820007  259.149994
2015-07-13   23600  262.250000  262.549988  256.049988  262.160004
...            ...         ...         ...         ...         ...
2020-04-17  248500  772.280029  774.950012  747.659973  753.890015
2020-04-20  161000  732.700012  765.570007  712.210022  746.359985
2020-04-21  147700  730.119995  753.330017  673.789978  686.719971
2020-04-22  176600  703.979980  734.000000  688.710022  732.109985
2020-04-23  202500  727.599976  734.000000  703.130005  705.630005
2020-04-24  162700  710.809998  730.729980  698.179993  725.150024
2020-04-27  164400  737.609985  799.489990  735.000000  798.750000
2020-04-28  113900  795.640015  805.000000  756.690002  769.119995
2020-04-29  150200  790.169983  803.200012  783.159973  800.510010
2020-04-30  206700  855.190002  869.820007  763.500000  781.880005
2020-05-01  142900  755.000000  772.770020  683.039978  701.320007
2020-05-04  160800  701.000000  762.000000  698.000000  761.190002
2020-05-05  179800  789.789978  798.919983  762.179993  768.210022
2020-05-06  194900  776.500000  789.799988  761.109985  782.580017
2020-05-07  178800  777.210022  796.400024  772.349976  780.039978
2020-05-08  173600  793.770020  824.000000  787.010010  819.419983
2020-05-11  142500  790.510010  824.000000  785.000000  811.289978
2020-05-12  127500  827.000000  843.289978  808.000000  809.409973
2020-05-13  173400  820.830017  826.000000  763.299988  790.960022
2020-05-14  234100  780.000000  803.359985  764.000000  803.330017
2020-05-15  260300  790.349976  805.049988  786.549988  799.169983
2020-05-18  287400  827.780029  834.719971  803.880005  813.630005
2020-05-19  147900  815.169983  822.070007  806.080017  808.010010
2020-05-20  115500  820.500000  826.000000  811.799988  815.559998
2020-05-21  179500  816.000000  832.500000  796.000000  827.599976
2020-05-22  110700  822.169983  831.780029  812.000000  816.880005
2020-05-26  199900  834.500000  834.599976  815.710022  818.869995
2020-05-27  197800  820.859985  827.710022  785.000000  820.229980
2020-05-28  137500  813.510010  824.750000  801.690002  805.809998
2020-05-29  166200  808.750000  835.000000  804.210022  835.000000

                                        NVDA                          \
             Adj Close    Volume        Open        High         Low
Date
2015-06-01  249.449997   2505100   22.270000   22.600000   22.129999
2015-06-02  248.350006   2134800   22.240000   22.360001   21.920000
2015-06-03  248.990005   1781500   22.000000   22.170000   21.660000
2015-06-04  245.919998   2453600   21.570000   22.160000   21.570000
2015-06-05  249.139999   3022000   22.020000   22.360001   21.790001
2015-06-08  256.290009   5017000   22.190001   22.340000   21.500000
2015-06-09  256.000000   2611100   21.770000   22.020000   21.730000
2015-06-10  250.699997   3454500   21.600000   21.740000   21.350000
2015-06-11  251.410004   2044100   21.469999   21.850000   21.469999
2015-06-12  250.690002   1422300   21.559999   21.690001   21.059999
2015-06-15  250.380005   2186200   21.000000   21.170000   20.840000
2015-06-16  253.119995   1984700   21.030001   21.360001   20.820000
2015-06-17  260.410004   5512900   21.320000   21.700001   21.270000
2015-06-18  261.890015   2782700   21.760000   22.080000   21.700001
2015-06-19  262.510010   2463000   21.940001   22.120001   21.670000
2015-06-22  259.790009   4561100   21.910000   22.030001   21.450001
2015-06-23  267.670013   3870800   21.820000   21.990000   21.049999
2015-06-24  265.170013   2412300   21.190001   21.299999   20.910000
2015-06-25  268.790009   2849200   21.010000   21.299999   21.010000
2015-06-26  267.089996   3838400   21.000000   21.020000   20.650000
2015-06-29  262.019989   3478900   20.500000   20.709999   20.090000
2015-06-30  268.260010   3086900   20.240000   20.330000   19.969999
2015-07-01  269.149994   2101200   20.610001   20.900000   20.219999
2015-07-02  280.019989   7163900   20.389999   20.549999   20.290001
2015-07-06  279.720001   4121900   20.250000   20.530001   20.020000
2015-07-07  267.880005   6105100   20.049999   20.129999   19.160000
2015-07-08  254.960007   6221100   19.680000   19.799999   19.490000
2015-07-09  257.920013   3334100   19.959999   20.049999   19.290001
2015-07-10  259.149994   2610900   19.660000   19.930000   19.610001
2015-07-13  262.160004   2960300   19.950001   19.990000   19.750000
...                ...       ...         ...         ...         ...
2020-04-17  753.890015  13128200  298.000000  298.859985  286.940002
2020-04-20  746.359985  14746600  287.239990  293.500000  285.269989
2020-04-21  686.719971  20209100  282.309998  284.769989  267.109985
2020-04-22  732.109985  14224800  277.230011  287.869995  275.399994
2020-04-23  705.630005  13236700  287.839996  293.140015  283.000000
2020-04-24  725.150024  13237600  283.600006  289.670013  280.600006
2020-04-27  798.750000  20681400  294.989990  303.500000  294.000000
2020-04-28  769.119995  15222000  303.000000  304.200012  291.140015
2020-04-29  800.510010  16216000  296.769989  300.579987  293.750000
2020-04-30  781.880005  28400100  296.290009  298.459991  291.720001
2020-05-01  701.320007  32531800  284.350006  288.899994  280.839996
2020-05-04  761.190002  19237100  280.880005  291.839996  280.880005
2020-05-05  768.210022  16991700  295.470001  300.269989  291.290009
2020-05-06  782.580017  11123200  296.929993  302.000000  295.410004
2020-05-07  780.039978  11527700  303.380005  307.410004  301.320007
2020-05-08  819.419983  16130100  307.750000  312.750000  306.390015
2020-05-11  811.289978  16471100  312.299988  324.500000  311.149994
2020-05-12  809.409973  15906900  324.940002  326.899994  311.709991
2020-05-13  790.960022  19065500  316.700012  323.140015  303.790009
2020-05-14  803.330017  13682200  313.670013  321.440002  307.500000
2020-05-15  799.169983  10518400  315.589996  340.019989  314.959991
2020-05-18  813.630005  11698100  350.420013  356.660004  347.220001
2020-05-19  808.010010   9636500  351.609985  363.500000  350.510010
2020-05-20  815.559998   7309300  359.640015  361.720001  355.549988
2020-05-21  827.599976  12254600  362.059998  362.100006  349.500000
2020-05-22  816.880005   9987500  353.010010  363.720001  348.529999
2020-05-26  818.869995   8089700  366.269989  367.269989  346.880005
2020-05-27  820.229980  11549500  345.000000  345.309998  319.869995
2020-05-28  805.809998   7255600  336.489990  350.420013  335.170013
2020-05-29  835.000000  11764500  342.179993  355.019989  339.399994


                 Close   Adj Close    Volume
Date
2015-06-01   22.379999   21.746244   9316500
2015-06-02   21.940001   21.318707   5607600
2015-06-03   21.700001   21.085503   6269700
2015-06-04   22.090000   21.464458   8092800
2015-06-05   22.260000   21.629646   7833000
2015-06-08   21.750000   21.134090   8570300
2015-06-09   21.860001   21.240971   6422200
2015-06-10   21.469999   20.862017  13236500
2015-06-11   21.700001   21.085503   7076300
2015-06-12   21.110001   20.512213   8093200
2015-06-15   21.070000   20.473345   7663700
2015-06-16   21.330000   20.725981   6422300
2015-06-17   21.580000   20.968899   5838600
2015-06-18   21.940001   21.318707   7485100
2015-06-19   21.870001   21.250692   8891400
2015-06-22   21.780001   21.163237  12855900
2015-06-23   21.219999   20.619097  10351600
2015-06-24   21.010000   20.415043   6334200
2015-06-25   21.170000   20.570515   8761500
2015-06-26   20.740000   20.152685  10532400
2015-06-29   20.120001   19.550243   9793100
2015-06-30   20.110001   19.540529   7897900
2015-07-01   20.400000   19.822313   7572300
2015-07-02   20.420000   19.841751   3644100
2015-07-06   20.170000   19.598829   5369400
2015-07-07   19.790001   19.229593  14856300
2015-07-08   19.650000   19.093554   8312300
2015-07-09   19.410000   18.860353   8939700
2015-07-10   19.750000   19.190722   5417700
2015-07-13   19.879999   19.317041   5311800
...                ...         ...       ...
2020-04-17  292.320007  292.320007  13478000
2020-04-20  287.049988  287.049988  11234700
2020-04-21  269.510010  269.510010  18379000
2020-04-22  286.149994  286.149994  12118200
2020-04-23  284.010010  284.010010  10604000
2020-04-24  289.589996  289.589996   8816100
2020-04-27  297.079987  297.079987  11984700
2020-04-28  291.359985  291.359985  11072600
2020-04-29  298.459991  298.459991   9479000
2020-04-30  292.279999  292.279999   9372900
2020-05-01  282.779999  282.779999   8552400
2020-05-04  291.290009  291.290009   7938900
2020-05-05  293.739990  293.739990   9222400
2020-05-06  297.790009  297.790009   8086600
2020-05-07  304.869995  304.869995   9343300
2020-05-08  312.500000  312.500000   8497700
2020-05-11  322.619995  322.619995  11705900
2020-05-12  312.100006  312.100006  12326500
2020-05-13  311.200012  311.200012  15646300
2020-05-14  321.220001  321.220001  15057800
2020-05-15  339.630005  339.630005  24691500
2020-05-18  350.010010  350.010010  19410100
2020-05-19  352.220001  352.220001  17933000
2020-05-20  358.799988  358.799988  14688400
2020-05-21  351.010010  351.010010  19026700
2020-05-22  361.049988  361.049988  25969100
2020-05-26  348.709991  348.709991  19269500
2020-05-27  341.010010  341.010010  29397300
2020-05-28  339.480011  339.480011  18372400
2020-05-29  355.019989  355.019989  18631400

[1259 rows x 18 columns]

In [17]:
data['NVDA'][-1:]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-05-29,342.179993,355.019989,339.399994,355.019989,355.019989,18631400

In [ ]:
data['NVDA']['Close'][-1:]

In [ ]:
data = yf.download(stocks, period="1y", start='', end='')
print(type(data))
print(data.shape)

In [ ]:
data

In [ ]:
data['Close'][-1:]

In [ ]:
data['Close']['NVDA'][-1:]

In [ ]:
ma3 = pd.DataFrame.rolling(data['NVDA']['Close'], window=3).mean()
ma3.shape

ma3.shape
ma3.tail(5)

In [ ]:
type(data['NVDA']['Close'][-1:])

In [ ]:
data['NVDA']['Close'][-1:]

In [ ]:
type(data['NVDA']['Close'][-1:][0])

In [ ]:
data['NVDA']['Close'][-1:][0]

In [ ]:
data.describe()

In [ ]:
# Get the NVDA timeseries. This now returns a Pandas Series object indexed by date.
nvda = data.loc[:, 'NVDA']

In [ ]:
type(nvda)

In [ ]:
nvda.shape

In [ ]:
len(nvda)

In [ ]:
nvda.tail(5)

In [ ]:
# get the closing price into new DataFrame
nvda_close = nvda.filter(['Close'], axis=1)

In [ ]:
type(nvda_close)

In [ ]:
nvda_close.shape

In [ ]:
len(nvda_close)

In [ ]:
nvda_close.tail(5)

In [ ]:
type(nvda_close.index)

In [ ]:
nvda_close.index

In [ ]:
# convert pandas index to <list> var
nvda_index = nvda.index.tolist()

In [ ]:
type(nvda_index)

In [ ]:
len(nvda_index)

In [ ]:
# add new column to dataframe
nvda['date'] = nvda_index

In [ ]:
nvda.shape

In [ ]:
nvda.iloc[0]['date']

### Calculate MA 3 & 10

In [ ]:
# Calculate the 20 and 100 days moving averages of the closing prices
short_rolling_nvda = nvda_close.rolling(window=3).mean()
long_rolling_nvda = nvda_close.rolling(window=10).mean()

In [ ]:
type(short_rolling_msft)

In [ ]:
len(short_rolling_nvda)

In [ ]:
# MA3
short_rolling_nvda.iloc[-1]

In [ ]:
# MA10
long_rolling_nvda.iloc[-1]

In [ ]:
def calculate_ma(data=pd.DataFrame, day=3):
    ''' calculate Moving Average (MA)
        params: (DataFrame) @data, e.g. stock closing price
                (int) @day Size of the moving window, e.g. 3 >>> MA3
        return: (DataFrame) MA
    '''
    ma = pd.DataFrame.rolling(data, window=day).mean()
    return ma

In [ ]:
def calculate_mas(data=pd.DataFrame, days=[], return_type='dict'):
    ''' calculate list of Moving Average (MA)
        params: (DataFrame) @data, e.g. stock closing price
                (list)(int) @days, e.g. [3, 10, 20] >>> MA3, MA10, MA20
                (str) @return_type, e.g. 'dict' >>> return dict result, 'list' >>> return list result
        return: (list/dict)(DataFrame) list of MA
    '''
    mas = {} if return_type == 'dict' else []
    for day in days:
        if return_type == 'dict':
            mas[day] = calculate_ma(data=data, day=day) # return dict
        else:
            mas.append(calculate_ma(data=data, day=day)) # return list
    return mas

In [ ]:
# Calculate MA
mas = [3, 10, 20]
stock_mas = calculate_mas(data=nvda['Close'], days=mas)

In [ ]:
stock_mas[0][-5:]

In [ ]:
# Add MA to DataFrame
for ma in mas:
    nvda[f'MA{ma}'] = stock_mas

In [ ]:
A = [1,3,7,11,13,17]; B = [2,4,6,8,14,15]
def find_crossing_point(A: 'List[int]', B: 'List[int]') -> 'List[int]':
    ''' find the two MA crossing point
    '''
    index = []
    for i in range(1, len(A)-1):
        if (A[i-1]>B[i-1] and A[i]<B[i]) or (A[i-1]<B[i-1] and A[i]>B[i]):
            index.append(i)
    return index

find_crossing_point(A, B)

In [ ]:
nvda[-5:]

In [ ]:
nvda_close[-10:]

## Plot graph

In [ ]:
stock_close = nvda_close[-100:]
# Calculate the 20 and 100 days moving averages of the closing prices
short_rolling = stock_close.rolling(window=3).mean()
long_rolling = stock_close.rolling(window=10).mean()

## Plot everything by leveraging the very powerful matplotlib package
fig, ax = plt.subplots(figsize=(16,9))

ax.plot(stock_close.index, stock_close, label='NVDA')
ax.plot(short_rolling.index, short_rolling, label='3 days rolling')
ax.plot(long_rolling.index, long_rolling, label='10 days rolling')

ax.set_xlabel('Date')
ax.set_ylabel('Adjusted closing price ($)')
ax.legend()

In [ ]:
ax.plot(nvda_close.index, nvda_close, label='NVDA')
ax.plot(short_rolling_nvda.index, short_rolling_nvda, label='20 days rolling')
ax.plot(long_rolling_nvda.index, long_rolling_nvda, label='100 days rolling')

ax.set_xlabel('Date')
ax.set_ylabel('Adjusted closing price ($)')
ax.legend()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

## yahoo_fin

http://theautomatic.net/2018/07/31/how-to-get-live-stock-prices-with-python/

http://theautomatic.net/yahoo_fin-documentation/

In [ ]:
# import stock_info module from yahoo_fin
from yahoo_fin import stock_info as si

In [ ]:
# get live price of Apple
si.get_live_price("NVDA")

## pandas_datareader

In [ ]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
start_date = '2020-04-01'
end_date = '2020-04-13'
data.DataReader('NVDA', 'yahoo', start_date, end_date)

In [8]:
import traceback
import logging
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s.%(msecs)03d %(levelname)s:\t%(message)s', datefmt='%Y-%m-%d %H:%M:%S')
logger = logging.getLogger(__name__)

In [14]:

def calcaulate_mas_crossing_points(A: 'List[int]', B: 'List[int]') -> 'List[int]':
    ''' find the two MA crossing point
        params: (list)(int) @A, e.g. MA3
                (list)(int) @B, e.g. MA10
        return: (list)(int) crossing point (0: two line parallel, 1: crossing signal)
    '''
    try:
        print('calcaulate_mas_crossing_points() ...')
        # crossing_points = []
        crossing_points = [0 for i in range(len(A))]
        for i in range(1, len(A)):
            if (A[i-1]>B[i-1] and A[i]<B[i]) or (A[i-1]<B[i-1] and A[i]>B[i]):
                crossing_points[i] = 1
                # crossing_points.append(1)
            # else:
                # crossing_points.append(0)
    except Exception as e:
        print('ERROR: calcaulate_mas_crossing_points()')
        print(traceback.format_exc())
        print(e)
    finally:
        print('... calcaulate_mas_crossing_points()')
        return crossing_points

In [15]:
A = [1, 3, 5, 7, 9]
B = [2, 4, 4, 6, 10]
C = calcaulate_mas_crossing_points(A, B)
C

calcaulate_mas_crossing_points() ...
... calcaulate_mas_crossing_points()

[0, 0, 1, 0, 1]